<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <span><img class="logImg" src="images/logo.png" alt="Home Office Post main logo"></span>
        <br><br> © 2020 Copyright: sloop.app | Developer: Filipe Ferreira
    </div>
    <!-- Copyright -->

</footer>